body {
  padding-top: 2.5em;
}

.main-container {
  /* background: red; */
  padding: 2em;
  border-radius: 8px;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-img {
  width: 40px;
}


.img-avatar {
  width: 60px;
  border-radius: 50%;
}