body {
  padding-top: 2.5em;
}

.main-container {
  /* background: red; */
  padding: 2em;
  padding-bottom: 4em;
  border-radius: 8px;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-img {
  width: 40px;
}


.img-avatar {
  width: 60px;
  border-radius: 50%;
}

.no-results-container {
  background: #fff;
  padding: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

/* Overwriting classes */
@media ( max-width: 400px ) {
  .col-sm-12 {
    padding-left: 0px;
    padding-right: 0px;
  }
}